:root {
	--background-color:  #2f3136;
	--hover-color:  #dcddde;
	--active-color:  #fff;
	--text-color: #8e9297;
	--text-hover: #dcddde;
	--background-hover-color: rgb(79 84 92 / 16%);
	--background-selected-color: rgb(79 84 92 / 32%);
}

.sidebar-wrap{
	position: relative;
&__popup{

}
}

.popup-sidebar-wrap{
	z-index: 10;
	width: 250px;
	height: 300px;
	position: absolute;
	left: -250px;
	top: 0;
}

.sidebar{
	height: 100vh;
	width: 240px;
	background-color: var(--background-color);
	overflow-x: visible;
	overflow-y: inherit;
	&--chat{
		height: 100%;
	}

	&::-webkit-scrollbar-button {
		background-repeat:no-repeat;
		width:10px;
		height:0
	}

	&::-webkit-scrollbar-track {
		background-color: var(--background-color)
	}

	&::-webkit-resizer{
		background-repeat:no-repeat;
		width:6px;
		height:0
	}

	&::-webkit-scrollbar{
		width: 6px;
	}

	&:hover{
		&::-webkit-scrollbar-thumb {
			border-radius: 2px;
			background-color:#202225;
		}
	}
}
